@media (max-width: 376px) {
	.container {
		display: unset;
	}

	.card {
		display: flex;
		justify-content: center;
		width: 375px;
		margin: 0;
		border-radius: 0;
		padding: 0;
	}

	img {
		width: 375px;
		border-radius: 0;
	}
}
