@font-face {
	font-family: "Outfit";
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
	font-family: "Young Serif";
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: auto;
	background-color: hsl(30, 54%, 90%);
	padding-top: 50px;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 40em;
	padding: 25px;
	border-radius: 20px;
}

figure {
	margin-bottom: 20px;
}

img {
	width: 40em;
	border-radius: 15px;
}

h1 {
	font-family: "Young Serif";
	font-weight: 400;
	margin-bottom: 15px;
}

p {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 400;
	color: hsl(30, 10%, 34%);
	opacity: 70%;
	text-align: justify;
	line-height: 1.5em;
}

.preparation {
	background-color: hsl(330, 100%, 98%);
	padding: 20px;
	width: 37em;
	border-radius: 10px;
	margin: 20px 0;
}

.time {
	margin-bottom: 15px;
	font-family: "Outfit";
	font-weight: 600;
	font-size: 18px;
	color: hsl(332, 51%, 32%);
}

.indent {
	padding-left: 20px;
}

li {
	margin-bottom: 15px;
	padding-left: 10px;
	font-family: "Outfit";
	font-weight: 400;
	font-size: 16px;
	color: hsl(30, 10%, 34%);
}

.preparation-list > li::marker {
	color: hsl(332, 51%, 32%);
}

section {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 20px;
	font-family: "Young Serif";
	font-weight: 400;
	color: hsl(14, 45%, 36%);
}

li::marker {
	color: hsl(14, 45%, 36%);
}

.nutrition {
	margin-bottom: 0;
}

.nutrient {
	padding-top: 30px;
	margin: 0;
}

.nutrient-list {
	margin-bottom: 10px;
}

h4 {
	float: left;
	font-family: "Outfit";
	font-weight: 600;
	color: hsl(30, 10%, 34%);
	padding-left: 35px;
	opacity: 60%;
}

.calories {
	padding-left: 53%;
	font-weight: 700;
	color: hsl(14, 45%, 36%);
	opacity: 100%;
}

hr {
	margin-bottom: 10px;
	width: 630px;
	opacity: 30%;
	color: hsl(30, 54%, 90%);
}
