@font-face {
	font-family: "Outfit";
	src: url(https://fonts.google.com/specimen/Outfit);
	font-weight: 400;
}

@font-face {
	font-family: "Outfit";
	src: url(https://fonts.google.com/specimen/Outfit);
	font-weight: 600;
}

@font-face {
	font-family: "Outfit";
	src: url(https://fonts.google.com/specimen/Outfit);
	font-weight: 700;
}

@font-face {
	font-family: "Young Serif";
	src: url(https://fonts.google.com/specimen/Young+Serif);
	font-weight: 400;
}

